In [1]:
import pandas as pd # data processing,
import seaborn # used for plot interactive graph.
import numpy as np
import matplotlib.pyplot as plt #this is used for the plot the graph 

read_file = pd.read_excel ("Telco_customer_churn.xlsx")

read_file.to_csv ("Telco_customer_churn.csv",
                  index = None,
                  header=True)
df = pd.DataFrame(pd.read_csv("Telco_customer_churn.csv"))
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [4]:
# Specify the columns you want to keep
cols_to_keep = ['Total Charges', 'Monthly Charges', 'Tenure Months', 'Contract', 'Internet Service']

# Use df.loc with boolean indexing to select the desired columns
df = df.loc[:, cols_to_keep]

# Verify that only the desired columns are retained
print(df.head())

  Total Charges  Monthly Charges  Tenure Months        Contract
0        108.15            53.85              2  Month-to-month  \
1        151.65            70.70              2  Month-to-month
2         820.5            99.65              8  Month-to-month
3       3046.05           104.80             28  Month-to-month
4        5036.3           103.70             49  Month-to-month

  Internet Service
0              DSL
1      Fiber optic
2      Fiber optic
3      Fiber optic
4      Fiber optic

In [5]:
df['Total Charges'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7043 entries, 0 to 7042
Series name: Total Charges
Non-Null Count  Dtype
--------------  -----
7043 non-null   object
dtypes: object(1)
memory usage: 55.1+ KB

In [6]:
df['Total Charges'].head()

0     108.15
1     151.65
2      820.5
3    3046.05
4     5036.3
Name: Total Charges, dtype: object

In [7]:
(df['Total Charges'].str.contains(' ').sum())

11

In [8]:
df['Total Charges']=df['Total Charges'].str.replace(' ', '')
df['Total Charges'] = pd.to_numeric(df['Total Charges'])
df['Total Charges'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7043 entries, 0 to 7042
Series name: Total Charges
Non-Null Count  Dtype
--------------  -----
7032 non-null   float64
dtypes: float64(1)
memory usage: 55.1 KB

In [9]:
df.select_dtypes(include=['object']).columns

Index(['Contract', 'Internet Service'], dtype='object')

In [10]:
df.columns

Index(['Total Charges', 'Monthly Charges', 'Tenure Months', 'Contract',
       'Internet Service'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Total Charges     7032 non-null   float64
 1   Monthly Charges   7043 non-null   float64
 2   Tenure Months     7043 non-null   int64
 3   Contract          7043 non-null   object
 4   Internet Service  7043 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 275.2+ KB

In [13]:
print('Internet Service', df['Internet Service'].unique())
print('Contract', df['Contract'].unique())

Internet Service ['DSL' 'Fiber optic' 'No']
Contract ['Month-to-month' 'Two year' 'One year']

In [16]:
cat_col = []

for col in df.columns: 
    if len(df[col].unique()) == 2:
        cat_col.append(col)
        
cat_col

[]

In [17]:
cat_multiple_col = []

for col in df.columns: 
    if col not in cat_col and df[col].dtype == 'object':
        cat_multiple_col.append(col)

cat_multiple_col

['Contract', 'Internet Service']

In [18]:
encoded_df = df.copy()

#for col in cat_col:
    #encoded_df[col] = df[col].map(lambda s :1  if s =='Yes' or s=='Female' else 0)
encoded_df = pd.get_dummies(encoded_df, columns=cat_multiple_col)
encoded_df

,Total Charges,Monthly Charges,Tenure Months,Contract_Month-to-month,Contract_One year,Contract_Two year,Internet Service_DSL,Internet Service_Fiber optic,Internet Service_No
0,108.15,53.85,2,True,False,False,True,False,False
1,151.65,70.70,2,True,False,False,False,True,False
2,820.50,99.65,8,True,False,False,False,True,False
3,3046.05,104.80,28,True,False,False,False,True,False
4,5036.30,103.70,49,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
7038,1419.40,21.15,72,False,False,True,False,False,True
7039,1990.50,84.80,24,False,True,False,True,False,False
7040,7362.90,103.20,72,False,True,False,False,True,False
7041,346.45,29.60,11,True,False,False,True,False,False
7042,6844.50,105.65,66,False,False,True,False,True,False

In [19]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Total Charges                 7032 non-null   float64
 1   Monthly Charges               7043 non-null   float64
 2   Tenure Months                 7043 non-null   int64
 3   Contract_Month-to-month       7043 non-null   bool
 4   Contract_One year             7043 non-null   bool
 5   Contract_Two year             7043 non-null   bool
 6   Internet Service_DSL          7043 non-null   bool
 7   Internet Service_Fiber optic  7043 non-null   bool
 8   Internet Service_No           7043 non-null   bool
dtypes: bool(6), float64(2), int64(1)
memory usage: 206.5 KB

In [20]:
print(encoded_df.isna().sum())
encoded_df = encoded_df.dropna()

Total Charges                   11
Monthly Charges                  0
Tenure Months                    0
Contract_Month-to-month          0
Contract_One year                0
Contract_Two year                0
Internet Service_DSL             0
Internet Service_Fiber optic     0
Internet Service_No              0
dtype: int64

In [21]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Total Charges                 7032 non-null   float64
 1   Monthly Charges               7032 non-null   float64
 2   Tenure Months                 7032 non-null   int64
 3   Contract_Month-to-month       7032 non-null   bool
 4   Contract_One year             7032 non-null   bool
 5   Contract_Two year             7032 non-null   bool
 6   Internet Service_DSL          7032 non-null   bool
 7   Internet Service_Fiber optic  7032 non-null   bool
 8   Internet Service_No           7032 non-null   bool
dtypes: bool(6), float64(2), int64(1)
memory usage: 261.0 KB

In [23]:
#encoded_df = encoded_df.drop(encoded_df.columns[[10,11,16,17,19,20, 22,23,25,26,28,29, 31,32]], axis=1)

In [24]:
encoded_df.to_csv('Encoded_df.csv')

In [25]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

ModuleNotFoundError: No module named 'imblearn'